:root{
    --main:rgb(236,236,236);
    --acc:rgb(0,0,0);
    --richblue:#0d1821;
    --gray:#7d7c84;
    --isabeline:#F1F0EA;
}
/* Set height to min */

body{
    background-color: var(--richblue);
}

/* UTILITY */
.vh-25{
    height: 25vh;
}
.vh-50{
    height: 50vh;
}
.vh-75{
    height: 75vh;
}

.title-text{
    font-size: 45px;
    font-weight: bold;
    color: var(--isabeline);
}

.notify{
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 3px;
}
.mt-150{
    margin-top: 150px;
}



/*  */
#logoutForm{
    cursor: pointer;
}

.category-search{
    transition: 3s;
}

/* NAVBAR */
.navbar{
    background-color: rgba(255, 255, 255, 0.915);
}
.nav-custom{
    /* border-bottom: 1px solid rgb(232, 232, 232); */
    background-color: var(--richblue);
}
/* .navbar-toggler-icon{
    background-image:;
} */

.logo{
    width: 200px;
    font-family: 'Righteous', cursive;
}

.logo-div{
    width: 20vw;
}




.categoryfixed{
    position:fixed;
    top:60px;
    z-index: 1;
    opacity: 0.7;
    width: 80%;
    transition: 3s;
}

/* CARD */
.card-detail{
    min-width: auto;
    min-height:100%;
}

.card{
    border-width: 4px;
    border-radius: 3px;
    border-color: var(--richblue);
}

/* CAROUSEL */
.carousel-control-prev-icon ,.carousel-control-next-icon{
    background-color: black;
    border-radius: 5px;
}

/* FOOTER */
footer {
    margin-top: 150px;
    bottom: 0;
    height: 10vh;
    background-color: var(--richblue);
}

.borderFooterTop{
    border-top: 2px solid var(--gray);
}

.icona-footer{
    color: white;
}

.borderFooterTop{
    border-top: solid 2px rgb(255, 255, 255);
}

/* Header */
.header{
    background-color: var(--richblue);
    color: var(--main);
    height: 60vw;
    display: flex;
}

.new{
    font-family: 'Righteous', cursive;
    font-size: 30vw;
    height: fit-content;
    letter-spacing: 4px;
    line-height: 13vw;
    /* padding-top: 170px; */
}

.textcustom{
    font-size: 23px;
    font-weight: bold;
    color: var(--isabeline);
    padding: 0%;
    border: 0%;
    margin: 0%;
}

.divcustom{
    height:20vw;
}

/* Card */
.card{
    height: 100%;
    position: relative;
    border-radius: 3px;
    background-color: var(--richblue);
}

.card-img-top{
    height:40vh;
    width:40vh;
    object-fit:cover;
    color: #0d182180;
}

.card-img-top-welcome{
        height:60vh;
        width:60vh;
        object-fit:cover;
        color: #0d182180;

}

.card-body{
    position: absolute;
    display:flex;
    flex-direction: column;
    bottom: 0;
}

.card a{
    text-decoration: none;
    color: var(--richblue);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff6f;
}

.card:hover .overlay {
  opacity: 1;
}

.text{
    color: rgb(0, 0, 0);
}

.fadex{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, 0) linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.504));
}

/* MEGA CONTAINER SEARCH */

.cont-collapse{
    height: 400px;
    width: 1000px;
    box-shadow: 2px 2px 10px 8px grey;
    background-color: var(--richblue);
    color: white;
    border-radius: 10px;
}

.img-custom{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fixed-top{
    margin-top: 70px;
}

/* Button */
div.vh-50 .btn{
    width:100px;
    height: fit-content;
    padding: 0;
    border-radius: 3px;
    background-color:white ;
    color: var(--richblue);
    transition: 1s;
}

.div> .btn:hover{
    transform: scale(1.3);
    background-color:white ;
    color: var(--richblue);
}

.btn-submit{
    border: solid 1px var(--richblue);
    color: var(--richblue);
}

.btn-submit:hover{
    color: white;
    background-color: var(--richblue);
}

.btn-log{
    border: solid 1px white;
    color: white;
}

.btn-log:hover{
    color: var(--richblue);
    background-color: white;
}

div.vh-50 .btn {
    width: 100px;
    height: fit-content;
    padding: 0;
    border: 2px solid white;
    background-color: var(--richblue);
    color: var(--richblue);
    transition: 1s;
}

div.vh-50 .btn:hover {
    width: 100px;
    height: fit-content;
    padding: 0;
    border: 2px solid white;
    background-color: white;
    color: var(--richblue);
    transition: 1s;
}

.a-custom{
    text-decoration: none;
}

/* Form crea prodotto - categoria */

.accordion-button:not(.collapsed) {
    background-color: rgb(228, 228, 228);
    color: black;
}

.form-check-input:checked {
    background-color: rgb(0, 25, 82);
    border-color: rgb(187, 187, 187);
    box-shadow: none;
}

/* HYPERTEXT */
.nav-link:hover{
    transform: scale(1.15);
    transition:1s;
}

.alert-custom{
    height:30px;
    width:100%;
    background-color:#0d1821 ;
}

.icon{
    color: white;
}

/* img - form */

.img-preview{
    width: 15vw;
    height: 15vw;
    background-position: center;
    background-size: cover;
}
