:root{
    --main:rgb(236,236,236);
    --acc:rgb(0,0,0);
}

.mt-150{
    margin-top: 150px;
}

#logoutForm{
    cursor: pointer;
}

.category-search{
    transition: 3s;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.915);
}


.categoryfixed{
    position:fixed;
    top:60px;
    z-index: 1;
    opacity: 0.7;
    width: 80%;
    transition: 3s;

}
.card-detail{
    min-width: auto;
    min-height:100%;
}

.carousel-control-prev-icon ,.carousel-control-next-icon{
    background-color: black;
    border-radius: 5px;
}
<<<<<<< HEAD
=======

/* FOOTER */
.borderFooterTop{
    border-top: solid 2px black;
}

.icona-footer{
    color: black;
}

>>>>>>> 1729ae146aa3733e0ae103ccd0683946cf5bfe2b
.new{
    color: var(--main);
    height: 50vh;
    padding-top: 170px;
}

.logo{
    width: 200px;
}
