:root{
    --main:rgb(236,236,236);
    --acc:rgb(0,0,0);
    --richblue:#0d1821;
    --gray:#7d7c84;
    --isabeline:#F1F0EA;
}

body{
    background-color: var(--richblue);
}

.mt-150{
    margin-top: 150px;
}

#logoutForm{
    cursor: pointer;
}

.category-search{
    transition: 3s;
}

/* NAVBAR */
.navbar{
    background-color: rgba(255, 255, 255, 0.915);
}

.categoryfixed{
    position:fixed;
    top:60px;
    z-index: 1;
    opacity: 0.7;
    width: 80%;
    transition: 3s;

}

/* CARD */
.card-detail{
    min-width: auto;
    min-height:100%;
}

/* CAROUSEL */
.carousel-control-prev-icon ,.carousel-control-next-icon{
    background-color: black;
    border-radius: 5px;
}

/* FOOTER */
.borderFooterTop{
    border-top: solid 2px black;
}

.icona-footer{
    color: black;
}
.header{
    background-color: var(--richblue);
    color: var(--main);
    height: 60vw;
    display: flex;
    
}
.new{
    font-family: 'Righteous', cursive;
    font-size: 30vw;
    height: fit-content;
    letter-spacing: 4px;
    /* padding-top: 170px; */
    
}
.textcustom{

    font-size: 25px;
    font-weight: bold;
    color: var(--isabeline);
    padding: 0%;
    border: 0%;
    margin: 0%;
}
.divcustom{
    height: 25vw;
}

.logo{
    width: 200px;
}
/* navbar  */
.nav-custom{
    /* border-bottom: 1px solid rgb(232, 232, 232); */
    background-color: var(--richblue);
    

}

.textnav{
    font-family: 'Righteous', cursive;
}



/* Footer */
.footer {
    background-color: var(--richblue);
}

.borderFooterTop{
    border-top: 2px solid var(--gray);
}

.icona-footer{
    color: white;
}
.card{
    height: 100%;
    position: relative;
    

}
.card-img-top{
    height: 600px;
    width: 600px;
    object-fit: cover;
    color: #0d182180;
      
    
}
.card-body{
    position: absolute;
    display:flex;
    flex-direction: column;
    bottom: 0;

    
}
.card a{
    text-decoration: none;
    color: var(--richblue);
    
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff6f;
  
  
}

.card:hover .overlay {
  opacity: 1;
}
.text{
    color: rgb(0, 0, 0);
}
.fadex{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, 0) linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.504));
}
